<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TuneHub</title>
<link rel="icon" href="https://github.com/Phinophilip/SongList/raw/main/TuneHub.logo.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/AdminViewSong.css}"></link>
</head>
<body>
<div class="header">
	<header>
		<img
			src="https://raw.githubusercontent.com/Phinophilip/SongList/14a7b751e29feded51ca19a13e3d316e08518911/TuneHub.logo.jpg"
			alt="TuneHub Logo" width="50" height="50">
		<h1>TuneHub</h1>
		<h2>Admin-Home</h2>
	</header>
	</div>
	<div class="large-text">
		<span class="first-letter">Song</span>
		<div class="large-text1">Information</div>
	</div>
	<div class="table">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>SongName</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="song : ${songs}">
					<td th:text="${song.id}"></td>
					<td th:text="${song.name}"></td>
					<td th:text="${song.artist}"></td>
					<td th:text="${song.genre}"></td>
					<td><img
						src="https://raw.githubusercontent.com/Phinophilip/SongList/14a7b751e29feded51ca19a13e3d316e08518911/TuneHub.logo.jpg"
						alt="TuneHub Logo" width="50" height="50"> <audio controls>
							<source th:src="${song.link}" type="audio/mpeg">
						</audio></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer">
		<footer>
			<p>Address: TuneHub</p>
		</footer>
	</div>

</body>
</html>