<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
<link rel="icon" href="https://github.com/Phinophilip/SongList/raw/main/TuneHub.logo.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/Index.css}"></link>
</head>
<body>
	<header>
		<img
			src="https://raw.githubusercontent.com/Phinophilip/SongList/14a7b751e29feded51ca19a13e3d316e08518911/TuneHub.logo.jpg"
			alt="TuneHub Logo" width="50" height="50">
		<h1>TuneHub</h1>

	</header>
	<nav>
		<div class="nav-left">
			<a href="login">Login</a>
		</div>
		<div class="nav-divider"></div>
		<!-- Divider line -->
		<div class="nav-right">
			<a href="registration">Registration</a>
		</div>
	</nav>
	<div class="large-text">
		<span class="first-letter">Tune</span>
		<div class="large-text1">Hub</div>
	</div>
	<div class="footer">
	<footer>
		<p>Address: TuneHub</p>
	</footer>
	</div>
</body>
</html>

