<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TuneHub</title>
<link rel="icon" href="https://github.com/Phinophilip/SongList/raw/main/TuneHub.logo.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/Registration.css}"></link>
</head>
<body>
	<div class="header">
		<header>
			<img src="https://raw.githubusercontent.com/Phinophilip/SongList/14a7b751e29feded51ca19a13e3d316e08518911/TuneHub.logo.jpg" alt="TuneHub Logo" width="50" height="50">
			<h1>TuneHub</h1>
			<h2>Customer-Home</h2>
		</header>
	</div>
	<div class="form">
		<h2>Registration Form</h2>
		<form action="register" method="Post">
			<label>Username</label> <input type="text" name="username" required>
			<br> <br> <label>Email</label> <input type="email"
				name="email" required> <br> <br> <label>Password</label>
			<input type="password" name="password" required> <br> <br>
			<label>Gender:</label><br> <label class="radio-container">Male
				<input type="radio" name="gender" value="male"> <span
				class="radio-checkmark"></span>
			</label> <label class="radio-container">Female <input type="radio"
				name="gender" value="female"> <span class="radio-checkmark"></span>
			</label> <label class="radio-container">Others <input type="radio"
				name="gender" value="other"> <span class="radio-checkmark"></span>
			</label> <br> <br> <label>Role:</label><br> <label
				class="radio-container">Admin <input type="radio"
				name="role" value="admin"> <span class="radio-checkmark"></span>
			</label> <label class="radio-container">Customer <input type="radio"
				name="role" value="customer"> <span class="radio-checkmark"></span>
			</label> <br> <br> <label>Address</label>
			<textarea name="address"></textarea>
			<br> <br> <input type="submit" id="submit" value="Register">
		</form>
	</div>
	<div class="footer">
		<footer>
			<p>Address: TuneHub</p>
		</footer>
	</div>
</body>
</html>